// header
.headerContainer{
  height: 120px;
  background: #ecf0f1;
  padding:16px;
  border-bottom: 1px dashed #1890ff;
  .headerSelect{
    width: 200px;
  }
  .headerPicker{
    width: 400px;
  }
  .headerInput{
    width: 100%;
    margin-top:10px;
  }
  .headerTotal{
    color: #1890ff;
    font-size: 20px;
    font-weight: bold;
  }
}

// sider
.siderContainer{
  width: 200px;
  background: #ecf0f1;
  padding:16px;
  border-right: 1px dashed #1890ff;
  .siderRow{
    overflow: hidden;
    margin-bottom:10px;
    .siderLabel{
      float: left;
    }
    .siderSwitch{
      float: right;
    }
  }
}
// content
.contentContainer{
  padding:16px;
  min-height: 500px;
  max-width: calc(~'100vw - 200px');
  background: #FFF;
  :global{
    .ant-collapse {
      .ant-collapse-item{
        border: none;
      }
    }
    .ant-collapse-borderless {
      .ant-collapse-item{
        border: none;
      }
    } 
  }
}

.collapse{
  background: none;
}