@import "~antd/dist/antd.less";


.ant-layout-header{
  line-height: normal;
}

.margin-bottom-middle{
  margin-bottom: 24px;
}
.margin-bottom-small{
  margin-bottom: 16px;
}
.ant-layout.ant-layout-has-sider > .ant-layout-content{
  overflow-x: auto;
}

.w170{
  width: 170px;
}
.w180{
  width: 180px;
}
.w190{
  width: 190px;
}
.w200{
  width: 200px;
}
.w210{
  width: 210px;
}
.w220{
  width: 220px;
}
.w230{
  width: 230px;
}
.w400{
  width: 400px;
}

.bg-main{
  background-color: #1890ff;
}
.bg-second{
  background-color: #92ccfc;
}